<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %>
  <%= button_to "Destroy this book", @book, method: :delete, data: { confirm: "本当に削除しますか？" } %>
</div>



